*{
    margin: 0;
    padding: 0;
    list-style: none;
}

section#home {
    display: grid;
    height: 100vh;
    align-items: center;
    text-align: center;
}

section#batepapo {
    display: none;
    grid-template-rows:1fr min-content;
    height: 100vh;
}

section#batepapo form {
    display: grid;
    grid-template-columns: 1fr min-content;
    padding: 20px;
    background: #4086ff;
}

div#mensagens {
    overflow: auto;
    word-wrap: break-word;
}

section#batepapo form input{
    padding: 7px;
}

section#batepapo form button{
    padding: 7px 17px;
}

div#mensagens p{
    margin: 10px;
    padding: 30px;
    background: #4086ff;
    border-radius: 15px;
}